@model IEnumerable<SStest.Models.ShoppingList>

<style>
    #list {
        margin: 0 0 10px 0;
        padding: 0;
    }

        #list li {
            display: inline-block;
        }

            #list li a {
                padding: 4px;
                background-color: gray;
                color: white;
                text-decoration: none;
            }

                #list li a:hover {
                    background: black;
                }

    #map {
        margin: 10px;
        width: 100%;
        height: 300px;
    }
</style>

<div class="col-sm-12 padding-right">
    <!--Google地圖的div-->
    <ul id="list">
        <li class="btn ">點選：</li>
        <!-- 建立地址清單 -->
        @foreach (var a in this.Model)
        {
            <li><a href="#" class="btn btn-primary">@a.ListName</a></li>
        }
    </ul>
    <div id="map"></div>
</div><!--<div class="col-sm-9 padding-right">的尾巴-->

<!-- Include Google Maps API (Google Maps API v3 已不需使用 API Key) -->
<script src="//maps.google.com/maps/api/js?sensor=false"></script>
<!-- Require jQuery v1.7.0 or newer -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="~/Scripts/jquery.tinyMap.min.js"></script>

<script>
    var map = $('#map'),
        addr =@ViewBag.addr;

    // Direction
    map.tinyMap({
        'center': ['25.034516521123315', '121.56496524810791'],
        'zoom': 16,
        'autoLocation': true,
        'event': {
            'idle': {
                'func': function () {
                    map.tinyMap('modify', {
                        direction: [
                            {
                                from: this.center,
                                to:addr
                            }
                        ]
                    });
                    this.panTo(this.center);
                },
                'once': true
            }
        }
    });</script>